.navbar {
  width: 100%;
  height: 100px;
  background-color: #121619;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSide {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.leftSide img {
  width: 70px;
  height: auto;
}

.rightSide {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

.rightSide a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
}

.rightSide a:hover {
  text-decoration: underline;
}
